.home-container {
    text-align: center;
    padding: 20px;
    background-color: #800020; /* Burgundy */
    min-height: 100vh;
    color: white;
}
.home-header {
    background-color: #800020; /* Burgundy */
    padding: 20px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.home-title {
    font-size: 50px;
    color: orange;
    font-weight: bold;
    margin: 0;
    font-family: 'Pacifico', cursive; /* Funky Font */
}

.dispatch-list {
    margin: 20px auto;
    max-width: 600px;
}

.dispatch-card {
    background: white;
    color: black;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.report-button {
    background-color: orange;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 20px;
    font-size: 27px;
    cursor: pointer;
    margin-top: 20px;
}

.report-button:hover {
    background-color: darkorange;
}
